.login-dialog {
    width: 350px;
    height: auto;
    padding-bottom: 20px;
}
    

mat-card {
    height: auto;
    padding: 0px;
    /* background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD 51%, #4CB8C4 100%); */
    background-image: linear-gradient(to right, rgb(240, 177, 89) 0%, rgb(245, 237, 168) 51%, rgb(240, 177, 89) 100%)
}


.button-navigate {
    padding-top: -15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;  
}
    .button-navigate-login, .button-navigate-register {
        width: 50%;
        font: bold 1.2em;
        height: 50px;
        border-radius: 0px !important;   
        background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    }

        .button-navigate-login::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -16px;
            border-left: 8px solid transparent;
            border-right: 8px solid #314755;
            border-top: 8px solid #314755;
            border-bottom: 8px solid transparent;
        }
        .button-navigate-login::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0px;
            border-left: 25px solid transparent;
            border-right: 25px solid #3CD3AD;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
        }

        .button-navigate-register::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: -16px;
            border-left: 8px solid #314755;
            border-right: 8px solid transparent;
            border-top: 8px solid #314755;
            border-bottom: 8px solid transparent;
        }
        .button-navigate-register::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0px;
            border-left: 25px solid #3CD3AD;
            border-right: 25px solid transparent;
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
        }

    .button-navigate-submit, .button-navigate-cancel {
        background-image: linear-gradient(to right, #e53935 0%, #e35d5b 51%, #e53935 100%);
    }



/* Spacer helps to align items: Left Right Center */
.mat-card-spacer {
    padding-left: 25px;
    padding-right: 25px;
}

/* FIELDS */
.form-login {
    padding-left: 25px;
    padding-right: 15px;
}

.form-field {
    width: 100%;
}

.mat-dialog-container {
    background: transparent !important;
}