<div mat-dialog-content>
    <div class="filter-main">
        <mat-tab-group>
                <mat-tab label="Genre">
                    <mat-selection-list #list [(ngModel)]="selectedOptions" >
                        <div class="selection-div" >
                            <mat-list-option class="mat-list-option" *ngFor="let opt of filterGenres" [selected]="selectedOptions.includes(opt.name)" [value]="opt.name">{{opt.name}}</mat-list-option>
                        </div>
                    </mat-selection-list>
                </mat-tab>
                <mat-tab label="Location">
                    <div class="mile-div">
                        <mat-radio-group class="mile-radius-group">
                            <mat-radio-button value="5"> < 5 miles </mat-radio-button>
                            <mat-radio-button value="10"> < 10 miles </mat-radio-button>
                            <mat-radio-button value="25"> < 25 miles </mat-radio-button>
                            <mat-radio-button value="50"> < 50 miles </mat-radio-button>
                            <mat-radio-button checked value="Anywhere"> Anywhere </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div class="filter-actions" mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary" (click)="onSaveAndSearch()" >Save and Filter</button>
    <button mat-stroked-button mat-dialog-close (click)="resetFilter()">Reset</button>
    <button mat-stroked-button mat-dialog-close cdkFocusInitial>Cancel</button>
</div>
  