<div class="" >
    <!-- <ng-container > -->
        <!-- HEADER BAR -->
        <mat-toolbar>

            <img src="../assets/images/logo.png" alt="LOGO" class="logo">
            <div class="app-name">
                BOOKS 4 BOOKS
            </div>            
            <span class="toolbar-spacer"></span>
            <div class="search-box">
                <div class="search-container">
                    <input type="search" placeholder="Search for books...">
                    <button mat-icon-button class="search-icon" >
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>                          
            <span class="toolbar-spacer"></span>
            <button class="sign-in-button" mat-flat-button *ngIf="isSignIn" (click)="goToSignIn()">Sign In</button>
            <img src="http://www.marywood.edu/web/staff/shannon/images/shannonprofile_circle.png" alt="PROFILE PICTURE" class="profile-picture" *ngIf="!isSignIn">
            <button class="menu-button" mat-icon-button [matMenuTriggerFor]="userMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
             <!--SUB MENU: User options-->
            <mat-menu #userMenu="matMenu">
                <ng-template matMenuContent>
                    <button mat-menu-item>
                        <mat-icon>settings</mat-icon>
                        Settings
                    </button>
                    <button mat-menu-item>
                        <mat-icon>power_settings_new</mat-icon>
                        Sign out
                    </button>
                </ng-template>
            </mat-menu>          
        </mat-toolbar>
      
        <mat-sidenav-container >
            <mat-sidenav #sidenav mode="side" opened>
                <div class="button-list">
                    <button mat-raised-button>Basic</button>
                    <button mat-raised-button color="primary">Primary</button>
                    <button mat-raised-button color="accent">Accent</button>
                    <button mat-raised-button color="warn">Warn</button>
                    <button mat-raised-button disabled>Disabled</button>
                    <a mat-raised-button routerLink="">Link</a>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>
              <router-outlet>
              </router-outlet>
            </mat-sidenav-content>
            <mat-sidenav #sidenav mode="side" position="end"  opened>
                <div class="button-list">
                    <button mat-raised-button>Basic</button>
                    <button mat-raised-button color="primary">Primary</button>
                    <button mat-raised-button color="accent">Accent</button>
                    <button mat-raised-button color="warn">Warn</button>
                    <button mat-raised-button disabled>Disabled</button>
                    <a mat-raised-button routerLink="">Link</a>
                </div>
            </mat-sidenav>
        </mat-sidenav-container>
        <mat-toolbar >
            <p>All Right Reserved</p>
        </mat-toolbar>
      <!-- </ng-container> -->
</div>


