<div class="container">
    <!-- <ng-container > -->
        <mat-toolbar >
          Header
        </mat-toolbar>
      
        <mat-sidenav-container >
            <mat-sidenav #sidenav mode="side" opened>
                <div class="button-list">
                    <button mat-raised-button>Basic</button>
                    <button mat-raised-button color="primary">Primary</button>
                    <button mat-raised-button color="accent">Accent</button>
                    <button mat-raised-button color="warn">Warn</button>
                    <button mat-raised-button disabled>Disabled</button>
                    <a mat-raised-button routerLink="">Link</a>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>
              <router-outlet>
              </router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
        <mat-toolbar >Footer</mat-toolbar>
      <!-- </ng-container> -->
</div>


