
mat-toolbar {
    background-color: #343d46;
}

.button-list button{
    display: block;
    width: 100%;
}
.button-list {
    width: 300px;
}
container{
    height: 100% !important;
}
.mat-toolbar{
    text-align: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
}

.search-box {
    width: 300px;
    height: 45px;
    background: transparent !important;
}
.search-box input {
   font-size: 0.8em;
   border-radius: 10px;
   outline: none;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.logo {padding-top: 6px;
    width: 100px;
    height: 100px;
}
mat-sidenav-content{
    height: 87vh;
}