
mat-toolbar {
    background-color: orange;
}

.button-list {
    width: 300px;
}
    .button-list button{
        display: block;
        width: 100%;
    }
        .button-list a{
            transition: transform 1s ease;
            display: inline-flex;
            align-items: center;
            text-align: center !important;
            width: 98%;
            text-decoration:none;
            margin: 3px 3px 0px 3px;
            height: 60px;
        }
        .button-list a:hover{
            transform: scale(1.1, 1.1);
        }
        .button-list a i{
            padding-bottom: 7px !important; margin-right: 20px
        }   


container{
    height: 100% !important;
}
.mat-toolbar{
    text-align: center;
}


.profile-picture {
    width: 50px;
    height: 50px;
}

/* Spacer helps to align items: Left Right Center */
.toolbar-spacer {
    flex: 1 1 auto;
}

.logo {
    margin-left: 25px;
    width: 50px;
    height: 50px;
}
mat-sidenav-content{
    height: 91vh;
}
mat-sidenav{
    overflow: hidden;
}

.footer{
    position: fixed;
    bottom: 0; 
    height: 25px;
}
@media (max-width: 1400px) {
    mat-sidnav, .button-list {
        width: 220px !important;
    }
}

@media screen and (max-width: 800px){
     .app-name, .logo , .profile-picture{
        display: none;
    }
    mat-sidnav, .button-list {
        width: 180px !important;
    }
}

@media screen and (max-width: 375px) {
    .sign-in-button {
        display: none !important;
    }
}

@media only screen and (max-width: 1200px){
    .search-box {
        display: flex;
        width: 70%;
        padding-bottom: 10px;
    }    
}