.post-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    height: 100%;
}
.form{
    background-color: rgb(228, 248, 255);
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
    width: 60%;
}
form{
    display: flex !important;
}
.book-detail{
    width: 60%;
}
.book-image{
    width: 40%;
}

mat-form-field{
    width: 100%;
    margin: 15px; 
}

.button-submit button{
    margin-right: 10px;
}

.select-image{
    margin-bottom: 40px;
}

#file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 999;
}
.select-image-div{
    margin-top: 10px;
    text-align: center;
}
.preview {
    text-align: center;
}
.preview img{
    width: 40%;
    height: 80%;
}
mat-spinner {
    position: fixed;
    left: 50%;
    top: 40%;
}
@media screen and (max-width: 1024px){
    .form{
        width: 90%;
    }
}
@media screen and (max-width: 624px){
    .form{
        width: 95%;
        margin: 5px 5px 0 5px;
    }
    form{
        display: block !important;
    }
    .book-detail {
        width: 100%;
    }
    .book-image{
        width: 100%;
    }
    .select-image{
        margin-bottom: 10px;
    }
    mat-form-field{
        margin: 5px 0 5px 0;
    }
    .button-submit {
        text-align: center;
        margin-top: 5px; 
    }
}

