.full{
    /* height: 86vh; */
    /* height: 100%; */
    min-height: 91vh;
    background:linear-gradient(
        rgba(214, 234, 248, 0.95),
        rgba(233, 228, 255, 0.6)           
    );
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 20px;

}

.card-div {
    margin-left: 50px;
    margin-bottom: 20px;  
}

.book-cover {
    height: 280px !important;
    width: 200px;
}

mat-card{
    margin: auto;
    text-align: center !important;
    transition: transform 0.5s ease !important;
}
mat-card .mat-card-image{
    margin-bottom: 0 !important; 
}

mat-card:hover {
    transform: scale(1.1, 1.05) !important;
}
mat-card button{
    margin: 3px 0 3px 0; 
    transition: background-color 1s ease !important;
    justify-content: flex-end !important;
    background-color: rgb(236, 235, 235); 
}
mat-card:hover button{
    background-color: orange;
}

mat-card-content{
    height: 10px !important;
    margin-bottom: 0 !important; 
}
mat-card-actions{
    padding-top: 0 !important; 
}
mat-spinner {
    position: fixed;
    left: 50%;
    top: 40%;
}
agm-map {
    height: 200px;
    width: 400px;
}
.map-view{
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 50%; */
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
.map-actions{
    position: absolute;
    bottom: 17px;
    right: 40px;
}
.full-screen{
    width: 100%;
    height: 100%;
}
.full-screen agm-map{
    width: 100%;
    height: 100%;
}
.show-map-button{
    position: fixed;
    bottom: 20px;
    right: 10px;
}
.close-map{
    position: absolute;
    top: -20px;
    right: 0px;
    background: rgb(231, 230, 230);
    color: black;
}
@media screen and (max-width: 500px){
    .full {
        padding: 0;
        /* justify-content: space-around !important; */
    }
    .card-div {
       margin: 10px 0 5px 50px;
    }
    .map-view, agm-map{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px){
    .full {
        justify-content: flex-start ; 
    }
    .book-cover {
        height: 180px !important;
        width: 140px;
    }
}

@media screen and (min-width: 1024px){
    .full {
        justify-content: flex-start ; 
    }
    .card-div {
        margin-left: 20px;
        margin-bottom: 20px;  
    }
    .book-cover {
        height: 220px !important;
        width: 170px;
    }
}

@media (min-width: 1024px){
    .full {
        justify-content: flex-start; 
    }
    .card-div {
        margin-left: 20px;
        margin-bottom: 20px;  
    }
    .book-cover {
        height: 220px !important;
        width: 170px;
    }
}

@media (min-width: 1440px){
    .full {
        justify-content: flex-start; 
    }
    .card-div {
        margin-left: 50px;
        margin-bottom: 20px;  
    }
    .book-cover {
        height: 280px !important;
        width: 210px;
    }
}