.full{
    height: 86vh;
    background:linear-gradient(
        rgba(214, 234, 248, 0.95),
        rgba(233, 228, 255, 0.6)           
    );
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.book-card {
    max-width: 80%;
    margin-top: 20px;
}

.container {
    margin: auto
}
mat-card{
    margin: auto;
    text-align: center !important;
    transition: transform 1s ease !important;
}
mat-card .mat-card-image{
    margin-bottom: 0 !important; 
}

mat-card:hover {
    transform: scale(1.1, 1.1) !important;
}
mat-card button{
    margin: 3px 0 3px 0; 
    transition: background-color 1s ease !important;
    justify-content: flex-end !important;
    background-color: rgb(236, 235, 235); 
}
mat-card:hover button{
    background-color: orange;
}

.book-cover{
    object-fit: cover;
    height: 270px !important;
}
mat-card-content{
    height: 10px !important;
    margin-bottom: 0 !important; 
}
mat-card-actions{
    padding-top: 0 !important; 
}
mat-spinner {
    position: fixed;
    left: 50%;
    top: 40%;
}

