<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="full">
  <!-- <div class="container">
      <div class="row">
          <div *ngFor="let book of booksPerPage" class="col-md-3">
            <mat-card class="book-card">
              <img *ngIf="!book.image" class="book-cover" mat-card-image src="http://librosebooks.org/img/xggS:XXBBB.wVSVg87.81vXaEui7X2nttXnPXwVSVg8-iqWVfi-I-gVWq-VvjfV.fSv.png" alt="">
              <img *ngIf="book.image" class="book-cover" mat-card-image 
                  src="{{book.image}}" alt="">
              <mat-card-footer>
                <button mat-icon-button matTooltip="{{book.title}} &#013; {{book.create_date}}"  matTooltipPosition="below" matTooltipClass="tooltip-color">
                   <mat-icon>arrow_right_alt</mat-icon>
                </button>
              </mat-card-footer>
            </mat-card>
          </div>
      </div>
  </div> -->
  <!-- <mat-grid-list cols="5" rowHeight="10:14">
      <mat-grid-tile  *ngFor="let book of booksPerPage" colspan="1" rowspan="1">
          <mat-card class="book-card">
              <img *ngIf="!book.image" class="book-cover" mat-card-image src="http://librosebooks.org/img/xggS:XXBBB.wVSVg87.81vXaEui7X2nttXnPXwVSVg8-iqWVfi-I-gVWq-VvjfV.fSv.png" alt="">
              <img *ngIf="book.image" class="book-cover" mat-card-image 
                  src="{{book.image}}" alt="">
              <mat-card-footer>
                <button mat-icon-button matTooltip="{{book.title}} &#013; {{book.create_date}}"  matTooltipPosition="below" matTooltipClass="tooltip-color">
                   <mat-icon>arrow_right_alt</mat-icon>
                </button> {{widthBool}}
              </mat-card-footer>
          </mat-card>
      </mat-grid-tile>
  </mat-grid-list>  -->

  <div *ngFor="let book of booksPerPage" class="card-div">
    <mat-card class="book-card">
      <img *ngIf="!book.image" class="book-cover" mat-card-image src="http://librosebooks.org/img/xggS:XXBBB.wVSVg87.81vXaEui7X2nttXnPXwVSVg8-iqWVfi-I-gVWq-VvjfV.fSv.png" alt="">
      <img *ngIf="book.image" class="book-cover" mat-card-image 
          src="{{book.image}}" alt="">
      <mat-card-footer>
        <button mat-icon-button matTooltip="{{book.title}} &#013; {{book.create_date}}"  matTooltipPosition="below" matTooltipClass="tooltip-color">
            <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>  

</div>

<!-- <div class="my-paginator">
    <mat-paginator length="books.length"
    [pageSize]="numPerPage"
    (page)="getData($event)">
    </mat-paginator>
</div> -->

